Flask>=3.0,<4.0
Flask-SocketIO>=5.6,<6.0
Flask-WTF>=1.2,<2.0
bcrypt>=4.0,<5.0
cryptography>=42,<47
requests>=2.31,<3.0
beautifulsoup4>=4.12,<5.0
schedule>=1.2,<2.0
python-engineio>=4.8,<5.0
python-socketio>=5.10,<6.0
markdown>=3.5,<4.0
Pillow>=10.0,<13.0
onvif-zeep-async>=4.0,<5.0
